{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Uber Pets</title>
  <script type="text/javaScript" src="script.js" defer></script>
  <link rel="stylesheet" href="{%static 'styles.css'%}" />
</head>

<body>
  <header>
    <div class="logo">
      <img src="{%static 'UBERPETS.png'%}" alt="Logo" />
    </div>
    <div class="header-info">
      <nav>
        <ul>
          <li><a href="#home">In&iacute;cio</a></li>
          <li><a href="#planos">Planos</a></li>
          <li><a href="../sobre">Sobre</a></li>
          <li><a href="../login">Login</a></li>
          <li><a href="../cadastro">Cadastre-se</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section id="home">
    <div class="home-content">
      <div class="text">
        <h2>Bem-vindo &agrave; UberPets!</h2>
        <h3>O seu serviço de transporte exclusivo para animais de estimação. Com o UberPets, você pode agendar viagens confortáveis e seguras para o seu melhor amigo. Nossos motoristas são apaixonados por pets e estão prontos para levá-los em suas aventuras. Confiabilidade e comodidade para você e seu animalzinho estão a apenas um clique de distância. Faça uma reserva agora e desfrute de uma experiência de transporte única para o seu pet!</h3>
      </div>
      <div class="image">
        <img src="{%static 'mobilidadeurbana-custom_800x800 1.png'%}" />
      </div>
    </div>
  </section>

  <section id="comunidade">
    <div class="container">
      <div class="card">
        <img src="{%static 'Novo Projeto (1).png'%}" alt="Imagem 1" />
        <div class="card-info">
          <h3>Comunidade</h3>
          <hr class="barra" />
          <p>
            Bem-vindo &agrave; comunidade UberPets, onde amantes de animais se unem para proporcionar transporte seguro e confort&aacute;vel para seus queridos pets. Faça parte dessa experi&ecirc;ncia alegre e despreocupada!</p>
        </div>
      </div>
      <div class="card">
        <img src="{%static 'Novo Projeto (2).png'%}" alt="Imagem 2" />
        <div class="card-info">
          <h3>Colabora&ccedil;&atilde;o</h3>
          <hr class="barra" />
          <p>Junte-se &agrave; nossa comunidade UberPets, onde colaboramos para o bem-estar dos animais de estima&ccedil;&atilde;o. Garantimos viagens seguras, compartilhando informações sobre as necessidades dos pets. Seja parte dessa rede colaborativa, valorizando cada voz e contribuição.</p>
        </div>
      </div>
      <div class="card">
        <img src="{%static 'Novo Projeto (3).png'%}" alt="Imagem 3" />
        <div class="card-info">
          <h3>Inova&ccedil;&atilde;o</h3>
          <hr class="barra" />
          <p>
            Junte-se &agrave; UberPets e experimente a vanguarda do transporte de animais de estima&ccedil;&atilde;o. Com inova&ccedil;&atilde;o tecnol&oacute;gica, oferecemos comodidade, segurança e opç&otilde;es personalizadas para atender &agrave;s necessidades individuais de cada pet. Faça parte dessa experi&ecirc;ncia moderna e inovadora!</p>
        </div>
      </div>
    </div>
  </section>

  <section id="conteudo">
    <div class="container-oportunidades">
      <div class="imagem">
        <img src="{%static 'grafico.png'%}" alt="Imagem" />
      </div>
      <div class="texto">
        <h2>
          Melhores oportunidades de <br />
          neg&oacute;cios para voc&ecirc;
        </h2>
        <p>
          As melhores oportunidades de negócios estão à sua espera! Se você é um amante de animais e busca empreender no mercado pet, o UberPets é a plataforma perfeita para você. Conectamos tutores, motoristas e profissionais do ramo, proporcionando um ecossistema lucrativo e inovador. Não perca tempo e junte-se a nós para aproveitar as melhores oportunidades de negócios no universo pet!
        </p>
      </div>
    </div>
  </section>

  <section id="planos">
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h4>Plano Start</h4>
          <h2>$9.99/m&ecirc;s</h2>
        </div>
        <ul class="beneficios">
          <li><i class="fas fa-check"></i> Desconto exclusivo nas corridas do UberPets.</li>
          <li><i class="fas fa-check"></i> Acesso a promoções sazonais e eventos especiais.</li>
          <li><i class="fas fa-check"></i> Suporte ao cliente prioritário.</li>
        </ul>
      </div>
      <div class="card">
        <div class="card-header">
          <h4>Plano Pro</h4>
          <h2>$19.99/m&ecirc;s</h2>
        </div>
        <ul class="beneficios">
          <li><i class="fas fa-check"></i> Desconto adicional nas corridas do UberPets.</li>
          <li><i class="fas fa-check"></i> Prioridade na seleção de motoristas especializados e bem-avaliados.</li>
          <li><i class="fas fa-check"></i> Opção de agendamento de viagens com antecedência.
          </li>
        </ul>
      </div>
      <div class="card">
        <div class="card-header">
          <h4>Plano Expert</h4>
          <h2>$29.99/m&ecirc;s</h2>
        </div>
        <ul class="beneficios">
          <li><i class="fas fa-check"></i> Descontos significativos em todas as corridas do UberPets.</li>
          <li><i class="fas fa-check"></i> Acesso a motoristas VIP altamente qualificados.
          </li>
          <li><i class="fas fa-check"></i> Serviço de luxo com comodidades exclusivas, como água e petiscos para o pet durante a viagem</li>
        </ul>
      </div>
    </div>
  </section>

  <section id="newsletter">
    <div class="newsletter-container">
      <h2>Assine nossa Newsletter</h2>
      <form id="newsletter-form">
        <div class="form-group">
          <label for="nome">Nome:</label>
          <input type="text" id="nome" name="nome" placeholder="Digite seu nome" required />
        </div>
        <div class="form-group">
          <label for="email">E-mail:</label>
          <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required />
        </div>
        <button type="submit">Enviar</button>
      </form>
    </div>
  </section>
</body>
</html>